body
{
    font-family: 'Open Sans', sans-serif !important;
    .page_title
    {
        text-align: center;
        width: 100%
    }
}

.wrap
{

    align-items: center !important;

    padding: 20px!important;
}
.btn1
{
    margin-left: 50px!important;
}
// .date
// {
// }
.btn2
{
    left: 105%;
    margin-top: -5px;
}
.wrap:hover
{
    .btn2
    {
        left: 85%;
        transition: ease-in-out 0.5s;
    }
}

.waves-effect
{
    position: absolute !important;
}
#liste
{
    margin-top: 50px;
}